.logos_rrss_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.logos_rrss_div > a,
img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.github_logo {
  width: 95%;
}

.netlify_logo {
  width: 70%;
  filter: grayscale(100%);
}

.linkedin_logo {
  width: 22%;
  padding: 8px;
}

@media screen and (min-width: 1270px) and (max-width: 2000px) {
  .logos_rrss_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
  }

  .github_logo {
    width: 150px;
  }

  .netlify_logo {
    width: 130px;
  }

  .linkedin_logo {
    width: 40px;
    margin: 0 20px 0 10px;
  }
}

@media screen and (min-width: 1730px) and (max-width: 2629px) {
  .logos_rrss_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 190px;
  }

  .github_logo {
    width: 150px;
  }

  .netlify_logo {
    width: 130px;
  }

  .linkedin_logo {
    width: 40px;
    margin: 0 20px 0 10px;
  }
}

@media screen and (min-width: 1630px) and (max-width: 1729px) {
  .logos_rrss_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 130px;
  }

  .github_logo {
    width: 150px;
  }

  .netlify_logo {
    width: 130px;
  }

  .linkedin_logo {
    width: 40px;
    margin: 0 20px 0 10px;
  }
}

@media screen and (min-width: 1450px) and (max-width: 1629px) {
  .logos_rrss_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
  }

  .github_logo {
    width: 150px;
  }

  .netlify_logo {
    width: 130px;
  }

  .linkedin_logo {
    width: 40px;
    margin: 0 20px 0 10px;
  }
}

@media screen and (min-width: 1289px) and (max-width: 1449px) {
  .logos_rrss_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px;
  }

  .github_logo {
    width: 150px;
  }

  .netlify_logo {
    width: 130px;
  }

  .linkedin_logo {
    width: 40px;
    margin: 0 20px 0 10px;
  }
}

@media screen and (min-width: 1270px) and (max-width: 1288px) {
  .logos_rrss_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
  }

  .github_logo {
    width: 150px;
  }

  .netlify_logo {
    width: 130px;
  }

  .linkedin_logo {
    width: 40px;
    margin: 0 20px 0 10px;
  }
}

@media screen and (min-width: 1190px) and (max-width: 1269px) {
  .logos_rrss_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
  }

  .github_logo {
    width: 150px;
  }

  .netlify_logo {
    width: 130px;
  }

  .linkedin_logo {
    width: 40px;
    margin: 0 20px 0 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 1189px) {
  .github_logo {
    width: 120px;
  }

  .netlify_logo {
    width: 100px;
  }

  .linkedin_logo {
    width: 30px;
    margin: 0 20px 0 10px;
  }
}
